# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
cars["Model"].value_counts() #3608 models

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

In [5]:
cars["Model"].describe()

count               35952
unique               3608
top       F150 Pickup 2WD
freq                  197
Name: Model, dtype: object

In [6]:
cars.groupby("Model").describe()
#3608 rows == 3608 different car models

                 Year                                                  \
                count         mean       std     min      25%     50%
Model
09-Mar           13.0  2000.384615  1.043908  1999.0  2000.00  2000.0
09-May           31.0  2002.096774  2.022455  1999.0  2000.50  2002.0
1-Ton Truck 2WD  16.0  1988.500000  2.366432  1985.0  1986.75  1988.5
100              12.0  1991.583333  1.781640  1989.0  1990.00  1992.0
100 Wagon         3.0  1990.666667  2.886751  1989.0  1989.00  1989.0
...               ...          ...       ...     ...      ...     ...
iQ                5.0  2013.000000  1.581139  2011.0  2012.00  2013.0
tC               24.0  2010.500000  3.526299  2005.0  2007.75  2010.5
xA                6.0  2005.000000  0.894427  2004.0  2004.25  2005.0
xB               22.0  2009.727273  3.601347  2004.0  2006.50  2010.0
xD               14.0  2011.000000  2.075498  2008.0  2009.25  2011.0

                                 Engine Displacement            ...  \
                     75%     max               count      mean  ...
Model                                                           ...
09-Mar           2001.00  2002.0                13.0  2.000000  ...
09-May           2003.50  2006.0                31.0  2.412903  ...
1-Ton Truck 2WD  1990.25  1992.0                16.0  2.700000  ...
100              1993.00  1994.0                12.0  2.591667  ...
100 Wagon        1991.50  1994.0                 3.0  2.466667  ...
...                  ...     ...                 ...       ...  ...
iQ               2014.00  2015.0                 5.0  1.300000  ...
tC               2013.25  2016.0                24.0  2.450000  ...
xA               2005.75  2006.0                 6.0  1.500000  ...
xB               2012.75  2015.0                22.0  2.154545  ...
xD               2012.75  2014.0                14.0  1.800000  ...

                CO2 Emission Grams/Mile             Fuel Cost/Year  \
                                    75%         max          count
Model
09-Mar                       444.350000  467.736842           13.0
09-May                       456.043421  467.736842           31.0
1-Ton Truck 2WD              493.722222  493.722222           16.0
100                          493.722222  493.722222           12.0
100 Wagon                    493.722222  493.722222            3.0
...                                 ...         ...            ...
iQ                           240.189189  246.861111            5.0
tC                           386.391304  403.954545           24.0
xA                           296.233333  296.233333            6.0
xB                           370.291667  370.291667           22.0
xD                           306.448276  317.392857           14.0

                                                                          \
                        mean         std     min     25%     50%     75%
Model
09-Mar           1761.538462  183.886113  1500.0  1600.0  1750.0  1950.0
09-May           1838.709677  229.386747  1500.0  1600.0  1850.0  2000.0
1-Ton Truck 2WD  1700.000000  139.044357  1450.0  1600.0  1750.0  1850.0
100              2033.333333  185.047087  1750.0  1850.0  2150.0  2150.0
100 Wagon        1816.666667   57.735027  1750.0  1800.0  1850.0  1850.0
...                      ...         ...     ...     ...     ...     ...
iQ                900.000000    0.000000   900.0   900.0   900.0   900.0
tC               1370.833333   76.494766  1300.0  1300.0  1350.0  1450.0
xA               1100.000000    0.000000  1100.0  1100.0  1100.0  1100.0
xB               1340.909091   99.566158  1150.0  1250.0  1400.0  1400.0
xD               1157.142857   18.156826  1150.0  1150.0  1150.0  1150.0


                    max
Model
09-Mar           2000.0
09-May           2150.0
1-Ton Truck 2WD  1850.0
100              2250.0
100 Wagon        1850.0
...                 ...
iQ                900.0
tC               1500.0
xA               1100.0
xB               1400.0
xD               1200.0

[3608 rows x 72 columns]

group by the data by the Make  using count function

In [7]:
cars_make = cars.groupby("Make").count()
cars_make

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [8]:
cars_make.sort_values(by=["Model"], ascending=False) #Chevrolet

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
Chevrolet,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643
Ford,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946
Dodge,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360
GMC,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347
Toyota,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Excalibur Autos,1,1,1,1,1,1,1,1,1,1,1,1,1,1
S and S Coach Company E.p. Dutton,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Environmental Rsch and Devp Corp,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"E. P. Dutton, Inc.",1,1,1,1,1,1,1,1,1,1,1,1,1,1
Lambda Control Systems,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [9]:
print(cars.sort_values.__doc__)

Sort by the values along either axis.

Parameters
----------
        by : str or list of str
            Name or list of names to sort by.

            - if `axis` is 0 or `'index'` then `by` may contain index
              levels and/or column labels.
            - if `axis` is 1 or `'columns'` then `by` may contain column
              levels and/or index labels.
axis : {0 or 'index', 1 or 'columns'}, default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
     Choice of sorting algorithm. See also :func:`numpy.sort` for more
     information. `mergesort` and `stable` are the only stable algorithms. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, …, n - 1.

     .. versionadded:: 1.0.0

key : callable, optional
    Apply the key function to the values
    before sorting. This is similar to the `key` argument in the
    builtin :meth:`sorted` function, with the notable difference that
    this `key` function should be *vectorized*. It should expect a
    ``Series`` and return a Series with the same shape as the input.
    It will be applied to each column in `by` independently.

    .. versionadded:: 1.1.0

Returns
-------
DataFrame or None
    DataFrame with sorted values or None if ``inplace=True``.

See Also
--------
DataFrame.sort_index : Sort a DataFrame by the index.
Series.sort_values : Similar method for a Series.

Examples
--------
>>> df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
... })
>>> df
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Sort by col1

>>> df.sort_values(by=['col1'])
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
  col1  col2  col3 col4
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B

Sorting with a key function

>>> df.sort_values(by='col4', key=lambda col: col.str.lower())
   col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Natural sort with the key argument,
using the `natsort <https://github.com/SethMMorton/natsort>` package.

>>> df = pd.DataFrame({
...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
...    "value": [10, 20, 30, 40, 50]
... })
>>> df
    time  value
0    0hr     10
1  128hr     20
2   72hr     30
3   48hr     40
4   96hr     50
>>> from natsort import index_natsorted
>>> df.sort_values(
...    by="time",
...    key=lambda x: np.argsort(index_natsorted(df["time"]))
... )
    time  value
0    0hr     10
3   48hr     40
2   72hr     30
4   96hr     50
1  128hr     20

In [10]:
cars.groupby("Make")["Model"].count().nlargest()

Make
Chevrolet    3643
Ford         2946
Dodge        2360
GMC          2347
Toyota       1836
Name: Model, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [11]:
cars_make.columns

Index(['Model', 'Year', 'Engine Displacement', 'Cylinders', 'Transmission',
       'Drivetrain', 'Vehicle Class', 'Fuel Type', 'Fuel Barrels/Year',
       'City MPG', 'Highway MPG', 'Combined MPG', 'CO2 Emission Grams/Mile',
       'Fuel Cost/Year'],
      dtype='object')

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [12]:
cars_make["CO2 Emission Grams/Mile"]=cars_make["CO2 Emission Grams/Mile"].apply(lambda x: x /1.60934)
cars_make= cars_make.rename(columns={"CO2 Emission Grams/Mile":"CO2 Emission Grams/Km"})

In [13]:
cars_make = cars_make.groupby(["Make","CO2 Emission Grams/Km"]).mean()
cars_make

,,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,Fuel Cost/Year
Make,CO2 Emission Grams/Km,,,,,,,,,,,,,
AM General,2.485491,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
ASC Incorporated,0.621373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Acura,187.654566,302.0,302.0,302.0,302.0,302.0,302.0,302.0,302.0,302.0,302.0,302.0,302.0,302.0
Alfa Romeo,25.476282,41.0,41.0,41.0,41.0,41.0,41.0,41.0,41.0,41.0,41.0,41.0,41.0,41.0
American Motors Corporation,13.670200,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,650.577255,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0,1047.0
Volvo,445.524252,717.0,717.0,717.0,717.0,717.0,717.0,717.0,717.0,717.0,717.0,717.0,717.0,717.0
Wallace Environmental,19.883928,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0,32.0
Yugo,4.970982,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
smart,12.427455,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [14]:
cars_make.sort_values(by=["CO2 Emission Grams/Km"], ascending=False)

,,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,Fuel Cost/Year
Make,CO2 Emission Grams/Km,,,,,,,,,,,,,
Chevrolet,2263.660880,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0
Ford,1830.564082,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0
Dodge,1466.439658,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0
GMC,1458.361813,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0
Toyota,1140.840344,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Excalibur Autos,0.621373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
S and S Coach Company E.p. Dutton,0.621373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Environmental Rsch and Devp Corp,0.621373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
"E. P. Dutton, Inc.",0.621373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Lambda Control Systems,0.621373,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [15]:
help(pd.cut)

Help on function cut in module pandas.core.reshape.tile:

cut(x, bins, right: 'bool' = True, labels=None, retbins: 'bool' = False, precision: 'int' = 3, include_lowest: 'bool' = False, duplicates: 'str' = 'raise', ordered: 'bool' = True)
    Bin values into discrete intervals.

    Use `cut` when you need to segment and sort data values into bins. This
    function is also useful for going from a continuous variable to a
    categorical variable. For example, `cut` could convert ages to groups of
    age ranges. Supports binning into an equal number of bins, or a
    pre-specified array of bins.

    Parameters
    ----------
    x : array-like
        The input array to be binned. Must be 1-dimensional.
    bins : int, sequence of scalars, or IntervalIndex
        The criteria to bin by.

        * int : Defines the number of equal-width bins in the range of `x`. The
          range of `x` is extended by .1% on each side to include the minimum
          and maximum values of `x`.
        * sequence of scalars : Defines the bin edges allowing for non-uniform
          width. No extension of the range of `x` is done.
        * IntervalIndex : Defines the exact bins to be used. Note that
          IntervalIndex for `bins` must be non-overlapping.

    right : bool, default True
        Indicates whether `bins` includes the rightmost edge or not. If
        ``right == True`` (the default), then the `bins` ``[1, 2, 3, 4]``
        indicate (1,2], (2,3], (3,4]. This argument is ignored when
        `bins` is an IntervalIndex.
    labels : array or False, default None
        Specifies the labels for the returned bins. Must be the same length as
        the resulting bins. If False, returns only integer indicators of the
        bins. This affects the type of the output container (see below).
        This argument is ignored when `bins` is an IntervalIndex. If True,
        raises an error. When `ordered=False`, labels must be provided.
    retbins : bool, default False
        Whether to return the bins or not. Useful when bins is provided
        as a scalar.
    precision : int, default 3
        The precision at which to store and display the bins labels.
    include_lowest : bool, default False
        Whether the first interval should be left-inclusive or not.
    duplicates : {default 'raise', 'drop'}, optional
        If bin edges are not unique, raise ValueError or drop non-uniques.
    ordered : bool, default True
        Whether the labels are ordered or not. Applies to returned types
        Categorical and Series (with Categorical dtype). If True,
        the resulting categorical will be ordered. If False, the resulting
        categorical will be unordered (labels must be provided).

        .. versionadded:: 1.1.0

    Returns
    -------
    out : Categorical, Series, or ndarray
        An array-like object representing the respective bin for each value
        of `x`. The type depends on the value of `labels`.

        * None (default) : returns a Series for Series `x` or a
          Categorical for all other inputs. The values stored within
          are Interval dtype.

        * sequence of scalars : returns a Series for Series `x` or a
          Categorical for all other inputs. The values stored within
          are whatever the type in the sequence is.

        * False : returns an ndarray of integers.

    bins : numpy.ndarray or IntervalIndex.
        The computed or specified bins. Only returned when `retbins=True`.
        For scalar or sequence `bins`, this is an ndarray with the computed
        bins. If set `duplicates=drop`, `bins` will drop non-unique bin. For
        an IntervalIndex `bins`, this is equal to `bins`.

    See Also
    --------
    qcut : Discretize variable into equal-sized buckets based on rank
        or based on sample quantiles.
    Categorical : Array type for storing data that come from a
        fixed set of values.
    Series : One-dimensional array with axis labels (including time series).
    IntervalIndex : Immutable Index implementing an ordered, sliceable set.

    Notes
    -----
    Any NA values will be NA in the result. Out of bounds values will be NA in
    the resulting Series or Categorical object.

    Reference :ref:`the user guide <reshaping.tile.cut>` for more examples.

    Examples
    --------
    Discretize into three equal-sized bins.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)
    ... # doctest: +ELLIPSIS
    [(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] ...

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3, retbins=True)
    ... # doctest: +ELLIPSIS
    ([(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] ...
    array([0.994, 3.   , 5.   , 7.   ]))

    Discovers the same bins, but assign them specific labels. Notice that
    the returned Categorical's categories are `labels` and is ordered.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]),
    ...        3, labels=["bad", "medium", "good"])
    ['bad', 'good', 'medium', 'medium', 'good', 'bad']
    Categories (3, object): ['bad' < 'medium' < 'good']

    ``ordered=False`` will result in unordered categories when labels are passed.
    This parameter can be used to allow non-unique labels:

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3,
    ...        labels=["B", "A", "B"], ordered=False)
    ['B', 'B', 'A', 'A', 'B', 'B']
    Categories (2, object): ['A', 'B']

    ``labels=False`` implies you just want the bins back.

    >>> pd.cut([0, 1, 1, 2], bins=4, labels=False)
    array([0, 1, 1, 3])

    Passing a Series as an input returns a Series with categorical dtype:

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, 3)
    ... # doctest: +ELLIPSIS
    a    (1.992, 4.667]
    b    (1.992, 4.667]
    c    (4.667, 7.333]
    d     (7.333, 10.0]
    e     (7.333, 10.0]
    dtype: category
    Categories (3, interval[float64, right]): [(1.992, 4.667] < (4.667, ...

    Passing a Series as an input returns a Series with mapping value.
    It is used to map numerically to intervals based on bins.

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, [0, 2, 4, 6, 8, 10], labels=False, retbins=True, right=False)
    ... # doctest: +ELLIPSIS
    (a    1.0
     b    2.0
     c    3.0
     d    4.0
     e    NaN
     dtype: float64,
     array([ 0,  2,  4,  6,  8, 10]))

    Use `drop` optional when bins is not unique

    >>> pd.cut(s, [0, 2, 4, 6, 10, 10], labels=False, retbins=True,
    ...        right=False, duplicates='drop')
    ... # doctest: +ELLIPSIS
    (a    1.0
     b    2.0
     c    3.0
     d    3.0
     e    NaN
     dtype: float64,
     array([ 0,  2,  4,  6, 10]))

    Passing an IntervalIndex for `bins` results in those categories exactly.
    Notice that values not covered by the IntervalIndex are set to NaN. 0
    is to the left of the first bin (which is closed on the right), and 1.5
    falls between two bins.

    >>> bins = pd.IntervalIndex.from_tuples([(0, 1), (2, 3), (4, 5)])
    >>> pd.cut([0, 0.5, 1.5, 2.5, 4.5], bins)
    [NaN, (0.0, 1.0], NaN, (2.0, 3.0], (4.0, 5.0]]
    Categories (3, interval[int64, right]): [(0, 1] < (2, 3] < (4, 5]]

In [16]:
cars["Year"]

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [17]:
cars["Decade"] = pd.cut(cars["Year"],bins=[1980,1990,2000,2010,2020], labels=["1980er","1990er","2000er","2010er"])
cars[["Year","Decade"]]
cars.iloc[29400:29405]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Decade
29400,Porsche,Boxster,2005,2.7,6,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,15.695714,18,26,21,423.190476,1950,2000er
29401,Porsche,Boxster,2005,2.7,6,Automatic 5-spd,Rear-Wheel Drive,Two Seaters,Premium,17.347895,16,24,19,467.736842,2150,2000er
29402,Porsche,Boxster,2006,2.7,6,Automatic 5-spd,Rear-Wheel Drive,Two Seaters,Premium,17.347895,16,24,19,467.736842,2150,2000er
29403,Porsche,Boxster,2006,2.7,6,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,15.695714,18,27,21,423.190476,1950,2000er
29404,Porsche,Boxster,2006,2.7,6,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,15.695714,18,26,21,423.190476,1950,2000er

In [18]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [19]:
cars_decade = cars.groupby("Decade").count()
cars_decade

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Decade,,,,,,,,,,,,,,,
1980er,7926,7926,7926,7926,7926,7926,7926,7926,7926,7926,7926,7926,7926,7926,7926
1990er,9169,9169,9169,9169,9169,9169,9169,9169,9169,9169,9169,9169,9169,9169,9169
2000er,10866,10866,10866,10866,10866,10866,10866,10866,10866,10866,10866,10866,10866,10866,10866
2010er,7991,7991,7991,7991,7991,7991,7991,7991,7991,7991,7991,7991,7991,7991,7991

In [20]:
cars_decade.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [21]:
cars_decade['City MPG']=cars_decade['City MPG'].apply(lambda x: x *1.60934 / 3.78541)
cars_decade= cars_decade.rename(columns={"City MPG":"City km/l"})

In [24]:
cars_decade["City km/l"].sort_values(ascending=False)

Decade
2000er    4619.602220
1990er    3898.134802
2010er    3397.316523
1980er    3369.682238
Name: City km/l, dtype: float64

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here